@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
html, body{margin:0px; padding:0px;font-family: 'Open Sans', sans-serif;}

body{
  margin: 0px;
  color: black;
  padding: 0px;
}

header{
  font-size: 90px;
  color: white;
  background-color: #b23036;
  margin:0px;
  margin-bottom: 50px;
  padding: 10px;
}

#robot_numSearch {
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}

img {
  padding-bottom: 10px;
  margin-left: 5%;
}

.container-fluid{
  margin-bottom: 100px;
  padding: 0px;

}

.tabbable {
  margin-right: 10%;
  margin-left: 10%;
}

.main_search{
  text-align: center;
  margin-right: 20%;
  margin-top: 20px;
  font-size: 40px;
  float: right;
}
h1{
  font-weight: 600;
}
h2 {
  padding-bottom: 10px;
}

.team_sum_header {
  font-size: 100px;
}
